<h3 class="center">MUSIC PUB HIS</h3>

<h1>HISオリジナルTシャツ販売特設サイト</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="hello">ご閲覧ありがとうございます。<br>
        営業を再開する事ができましたが、引き続きおりじなるTシャツを販売することにしました。<br>
        何卒よろしくお願いします。
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="public-photo center">
      <%= image_tag "/his_folder/S__16744461.jpg", class: "photo" %>
       <h2>デザイン、カラーは選べません。</h2>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3 center">
    <table class="table table-responsive table-show center">
      <tbody>
        <tr>
          <th>価格</th>
          <td>3000円 （送料込み）</td>
        </tr>
        <tr>
          <th>サイズ</th>
          <td>90、100、110、120、130、140、150、160、S、M、L、XL、2XL、3XL</td>
        </tr>
      </tbody>
    </table>
    
  <div class="col-md-10 col-md-offset-1">
    <div class="public-photo center">
       <h2>例・Mサイズの詳細です。</h2>
      <%= image_tag "/his_folder/S__1720326.jpg", class: "explanation-photo" %>
      <%= image_tag "/his_folder/S__1720327.jpg", class: "explanation-size-photo" %>
    </div>
  </div>
  
    <%= link_to "申し込み詳細ページへ", new_user_purchase_path(@user), class: "btn btn-primary btn-lg btn-show" %>
  </div>
  
  <div class="rows">
    <%= link_to "管理者専用", login_path, class: "btn btn-lg btn-warning" %>
  </div>
</div>