<% provide(:title, "管理者ログイン") %>
<h1>管理者ログイン</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :email, class: "label-login" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, class: "label-login" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
  </div>
</div>