<% provide(:title, "申し込みフォーム") %>

<h1>申し込みフォーム</h1>

<div class="-row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name, class: "label-form" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :email, class: "label-form" %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label :size, class: "label-form" %><br>
      <%= f.select :size, ['100', '110', '120', '140', '150', 'WM', 'WL', 'WL',
                              'XS', 'S', 'M', 'L', 'XL', '2XL', '3XL'], { include_blank: true },
                              { class: "select-form" }%>
      <br>
      <%= f.label :memo, class: "label-form" %>
      <%= f.text_field :memo, class: "form-control" %>
      
      <%= f.submit "申し込み完了", class: "btn btn-danger btn-form btn-lg" %>
    <% end %>
  </div>
</div>