<% provide(:title, "購入者一覧" ) %>

<h1>購入者一覧</h1>

<div class="row">
  <div class="col-md-1 col-md-offset-4">
    <%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-lg btn-primary pull-right btn-out" %>
  </div>
</div>


<div class="center">
  <% if @purchases.count > 20 %>
    <%= will_paginate %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th class="center">ID</th>
          <th class="center">名前</th>
          <th class="center">メールアドレス</th>
          <th class="center">郵便番号</th>
          <th class="center">住所</th>
          <th class="center">サイズ</th>
          <th class="center">申し込み日時</th>
          <th class="center">編集ボタン</th>
          <th class="center">削除ボタン</th>
        </tr>
      </thead>
      
      <tbody>
        <% @purchases.each do |purchase| %>
        <tr>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.id %></td>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.name %></td>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.email %></td>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.number %></td>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.address %></td>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.size %></td>
          <td onclick='window.location="<%= '/users/' + @user.id.to_s + '/purchases/' + purchase.id.to_s %>"' role="link"><%= purchase.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td class="center"><%= link_to "編集", edit_user_purchase_path(@user, purchase), class: "btn btn-success btn-lg" %></td>
          <td class="center">
            <%= link_to "削除", user_purchase_path(@user, purchase), method: :delete,
                         data: { confirm: "ID.#{ purchase.id }　　#{ purchase.name }さんを削除してもよろしいですか？復元はできません。" },
                         class: "btn btn-danger btn-lg" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>