<% provide(:title, "購入者一覧" ) %>

<h1>購入者一覧</h1>

<div class="row">
  <div class="col-md-1 col-md-offset-4">
    <%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-lg btn-primary center" %>
  </div>
</div>


<div class="center">
  <% if @purchases.count > 20 %>
    <%= will_paginate %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th class="center">名前</th>
          <th class="center">メールアドレス</th>
          <th class="center">郵便番号</th>
          <th class="center">住所</th>
          <th class="center">サイズ</th>
        </tr>
      </thead>
      
      <tbody>
        <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.name %></td>
          <td><%= purchase.email %></td>
          <td><%= purchase.number %></td>
          <td><%= purchase.address %></td>
          <td><%= purchase.size %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>