<% provide(:title, "申し込みフォーム") %>

<h1>申し込みフォーム</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="contents">お支払いの手順</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new_pad">
    <h4>
      １、下記のフォームにお客様の情報をご入力、送信して下さい。
      「振り込み先口座」等を明記した画面に移動させていただきます。
    </h4><br>
    <h4>２、画面の内容にしたがって、5月31日までに記載されている銀行口座へのお振り込みをお願いいたします。
    </h4><br>
    <h4>
      ３、お振り込みの確認がとれた方に6月10日に順次発送させていただきます。
    </h4><br>
  </div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-4 new_pad">
    <%= form_with(model: @purchase, url: user_requests_path, local: true) do |f| %>
      <%= render 'shared/error_messages', object: @purchase %>
        
        <%= f.label :name, class: "label-form" %>
        <%= f.text_field :name, class: "form-control" %>
      
        <%= f.label :email, class: "label-form" %>
        <%= f.email_field :email, class: "form-control" %>
      
        <%= f.label :address, class: "label-form" %>
        <%= f.text_field :address, class: "form-control" %>
      
        <%= f.label :size, class: "label-form" %><br>
        <%= f.select :size, ['100', '110', '120', '140', '150', 'WM', 'WL', 'WL',
                              'XS', 'S', 'M', 'L', 'XL', '2XL', '3XL'], { include_blank: true },
                              { class: "select-form" }%>
      <br>
        <%= f.label :memo, class: "label-form" %>
        <%= f.text_area :memo, class: "form-control", rows: 5 %>
      
      <%= f.submit "申し込み完了", class: "btn btn-danger btn-form btn-lg" %>
    <% end %>
  </div>
</div>